/* Reset */ *{outline: 0;margin: 0;padding: 0;border: 0;box-sizing:border-box;font-family: 'Times New Roman', Times, serif}/* ------- */

:root{
    --cortema1:#212343;
    --cortema2:#212343bd;
    --cortema3:#8024a9;
    --animacoes: opacity 2s, filter 2s, transform 2s; /* Animações do Scroll Reveal*/
}

html, body{
    overflow-x: hidden;
    background-color: #ccc;
}

header{
    height: 60px;
    background-color: var(--cortema1);
    padding: 0 2%;
    align-content: center;
}

h1{
    font-weight: bold;
}

/* inicio Section */

.inicio{
    height: 95dvh;
    width: 100%;
    padding: 2%;
    background-image: url('header_bg.webp');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-items: center;
    display: flex;
}

.inicio ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2%;
    height: min-content;
    max-width: 80%;
    background-color: var(--cortema2);
    color: white;
    font-size: 15px;
}

/* Formulario */

.formulario{
    overflow-y: auto;
    background-color: white;
    width: 30%;
    height: 100%;
    border: 8px solid rgba(128, 128, 128, 0.39);
    margin-left: auto;
    padding: 1.5%;
    background-clip: padding-box;
    color: #bbb;
    font-weight: bold;
}

.formulario h2{
	font-weight: 500;
	font-size: 21px;
}

.formulario form input{
    width: 100%;
    height: 50px;
    border: 1px solid #bbb;
}

form h3{
    margin: 5% 0 1%;
}

.formulario p{
	margin: 15% 0;
}/* Campos obrigatórios */

.formulario input[type=submit]{
	cursor: pointer;
	color: white;
	font-size: 25px;
	width: 100%;
	height: 50px;
	background-color: #363a6d;
}

/* Sobre Section */

.sobre{
    justify-items: center;
    padding: 50px;
    background-color: #ccc;
}

.sobre p{
    width: 65%;
    margin: 20px 0 0;
	text-align: justify;
}

.sobre img{
	position: relative;
	top: 70px;
	width: 40px;
}

/* Vantagens Section */

.vantagens{
    background-color: white;
    text-align: center;
    padding: 2%;
}

.vantagens h1{
    margin: 30px 0 100px;
    color: var(--cortema3);
	font-size: 30px;
}

.vantagens .box-vantagens{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.vantagens .box-vantagens > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 10px auto;
    width: 350px;
}

/* Footer */

footer{
    display: flex;
    margin: 10px 0 0;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cortema1);
    letter-spacing: 1px;
    color: white;
  }
  
  footer i{
    padding:5px;
    border-radius: 50%;
    color: white;
  }
  
  footer i:hover{
    background-color: white;
    color: black;
  }

  input:focus, input:hover {
    outline: 2px solid var(--cortema3);
  }  

  @media screen and (max-width: 700px){footer{flex-direction:column;}}

  /* ------- Scroll Reveal ----- */
  
  .hidden{
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-100%);
    transition: var(--animacoes);
}

.hidden:nth-of-type(even){
    transform: translateX(100%);
}

.box-vantagens .hidden{
    transform: translate(0);
    filter: blur(30px);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) translateX(0);
    transition: var(--animacoes);
}